<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Investissement Initial</label>
      <input id="initial-investment" type="number" />
    </p>
    <p>
      <label for="annual-investment">Investissement Annuel</label>
      <input id="annual-investment" type="number" />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Taux de Rendement</label>
      <input id="expected-return" type="number" />
    </p>
    <p>
      <label for="duration">Durée</label>
      <input id="duration" type="number" />
    </p>
  </div>
  <p>
    <button>Calculer</button>
  </p>
</form>
